
  h1 {
      color: pink;
      text-align: center;
  }

  .main-img {
     border-radius: 50%;
     width: 60%;
     height: auto;
     display: block;
     margin: auto;
  }

  .header {
      margin-top: 80px;
  }

  .nav ul li {
      list-style:none;
      display: inline-block
  }

  .bio {
      padding: 2%;
      background-color: snow;
      margin: 20px;
  }

  a:link {
      text-decoration: none;
      color: inherit;
  }

  #projects a {
      color:rgb(245, 166, 179)
  }

  h6 {
      color: rgb(245, 166, 179);
  }